.card {
  padding: 8px;
}
.name {
  min-height: 25px;
}
.rank {
  font-size: large;
  padding-top: 0.5rem;
  text-align: center;
}
.country {
  min-height: 22px;
}
.description{
  min-height: 44px;
}
.url{
  min-height: 22px;
}