.card {
  padding: 8px;
  min-width: 475px;
}
.name {
  min-height: 25px;
}
.rank {
  font-size: large;
  padding-top: 0.5rem;
  text-align: center;
}
.country {
  min-height: 22px;
  margin-top: 1em
}
.url{
  min-height: 22px;
}